<?xml version="1.0"?>
<robot name="HAS-UGV" xmlns:xacro="http://ros.org/wiki/xacro">
	<link name="base_link">
		<visual>
			<geometry>
				<box size="2.0 0.95 0.65"/>
			</geometry>
			<origin rpy="0 0 0" xyz="0.5 0 0"/>
			<material name="RED">
				<color rgba="1 0 0 1"/>
			</material>
		</visual>
		<collision>
			<geometry>
				<box size="2.0 1.2 0.65"/>
			</geometry>
		</collision>
		<inertial>
			<mass value="100"/>
			<inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
		</inertial>
	</link>
	<link name="base_par">
		<visual>
			<geometry>
				<box size="1.3 1.3 0.1"/>
			</geometry>
			<origin rpy="0 0 0" xyz="0.5 0 0"/>
			<material name="blue">
				<color rgba="0 0 1 1"/>
			</material>
		</visual>
		<collision>
			<geometry>
				<box size="1.2 1.2 0.1"/>
			</geometry>
		</collision>
		<inertial>
			<mass value="100"/>
			<inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
		</inertial>
	</link>
	<link name="base_footprint">
		<visual>
			<geometry>
				<box size="0.001 0.001 0.0011"/>
			</geometry>
			<origin rpy="0 0 0" xyz="0 0.223 0"/>
			<material name="blue">
				<color rgba="1 0 1 1"/>
			</material>
		</visual>
		<inertial>
			<mass value="0.001"/>
			<inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
		</inertial>
	</link>
	<link name="front_laser_link">
		<visual>
			<geometry>
				<cylinder length="0.085" radius="0.076"/>
			</geometry>
			<origin rpy="0 0 0" xyz="0 0 0"/>
			<material name="blue">
				<color rgba="0 0 1 1"/>
			</material>
		</visual>
		<inertial>
			<mass value="0.00001"/>
			<inertia ixx="0.0001" ixy="0.0" ixz="0.0" iyy="0.0001" iyz="0.0"  izz="0.0001"/>
		</inertial>
	</link>
		<link name="back_laser_link">
		<visual>
			<geometry>
				<cylinder length="0.085" radius="0.076"/>
			</geometry>
			<origin rpy="0 0 3.14" xyz="0 0 0"/>
			<material name="blue">
				<color rgba="0 0 1 1"/>
			</material>
		</visual>
		<inertial>
			<mass value="0.00001"/>
			<inertia ixx="0.0001" ixy="0.0" ixz="0.0" iyy="0.0001" iyz="0.0"  izz="0.0001"/>
		</inertial>
	</link>

	<link name="wheel_1">
		<visual>
			<geometry>
				<cylinder length="0.105" radius="0.276"/>
			</geometry>
			<origin rpy="0 1.57 0" xyz="0 0 0"/>
			<material name="black">
				<color rgba="0 0 0 1"/>
			</material>
		</visual>
		<collision>
			<geometry>
				<cylinder length="0.105" radius="0.276"/>
			</geometry>
		</collision>
		<inertial>
			<mass value="10"/>
			<inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
		</inertial>
	</link>

	<link name="wheel_2">
		<visual>
			<geometry>
				<cylinder length="0.105" radius="0.276"/>
			</geometry>
			<origin rpy="0 1.5 0" xyz="0 0 0"/>
			<material name="black"/>
		</visual>
		<collision>
			<geometry>
				<cylinder length="0.105" radius="0.276"/>
			</geometry>
		</collision>
		<inertial>
			<mass value="10"/>
			<inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
		</inertial>
	</link>

	<link name="wheel_3">
		<visual>
			<geometry>
				<cylinder length="0.105" radius="0.276"/>
			</geometry>
			<origin rpy="0 1.5 0" xyz="0 0 0"/>
			<material name="black"/>
		</visual>
		<collision>
			<geometry>
				<cylinder length="0.105" radius="0.276"/>
			</geometry>
		</collision>
		<inertial>
			<mass value="10"/>
			<inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
		</inertial>
	</link>

	<link name="wheel_4">
		<visual>
			<geometry>
				<cylinder length="0.105" radius="0.276"/>
			</geometry>
			<origin rpy="0 1.5 0" xyz="0 0 0"/>
			<material name="black"/>
		</visual>
		<collision>
			<geometry>
				<cylinder length="0.105" radius="0.276"/>
			</geometry>
		</collision>
		<inertial>
			<mass value="10"/>
			<inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
		</inertial>
	</link>

	<joint name="base_footprint_joint" type="fixed">
		<parent link="base_footprint"/>
		<child link="base_link"/>
			<!--<origin xyz="0.45 0 0.4435" rpy="0 0 -1.58"/>	-->
			<origin xyz="0.0 0 0.4435" rpy="0 0 0"/>
		</joint>

		<joint name="base_link_to_front_laser_link" type="fixed">
			<parent link="base_link"/>
			<child link="front_laser_link"/>
			<origin xyz="1.5 0 0"/>
		</joint>

		<joint name="base_link_to_base_par" type="fixed">
			<parent link="base_link"/>
			<child link="base_par"/>
			<origin xyz="0 0 0.35"/>
		</joint>

		<joint name="base_link_to_back_laser_link" type="fixed">
			<parent link="base_link"/>
			<child link="back_laser_link"/>
			<origin xyz="-0.5 0 0" rpy="0 0 3.14"/>
		</joint>	

		<joint name="base_to_wheel1" type="fixed">
			<parent link="base_link"/>
			<child link="wheel_1"/>
			<origin xyz="1.0 0.46 -0.1361" rpy="0 0 1.57"/>
		</joint>

		<joint name="base_to_wheel2" type="fixed">
			<parent link="base_link"/>
			<child link="wheel_2"/>
			<origin xyz="1.0 -0.46 -0.1361" rpy="0 0 1.57"/>
		</joint>

		<joint name="base_to_wheel3" type="fixed">
			<parent link="base_link"/>
			<child link="wheel_3"/>
			<origin xyz="-0.0 0.46 -0.1361" rpy="0 0 1.57"/>
		</joint>

		<joint name="base_to_wheel4" type="fixed">
			<parent link="base_link"/>
			<child link="wheel_4"/>
			<origin xyz="-0.0 -0.46 -0.1361" rpy="0 0 1.57"/>
		</joint>
	</robot>